@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --bg-color: #ffffff;
    --main-color: #0C7A07;
    --second-color: #7bbb78;
    --text-color: #000000;
    --icon-color: #a1a1a1;
}

.activity-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.activity-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
}
.activity-body{
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid greenyellow; */
}
.activity-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.activity-header h2{
    font-weight: 600;
}

/* BODY */

.table_header_activity{
    border-top:2px solid rgba(30, 30, 30,0.2);
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width:100%;
    font-weight: bold;
}

.td_activity{
    width:20%;
    margin-left: 0px;
}

.table_item_activity{
    /* border:3px solid rgb(165, 4, 84); */
    display: flex;
    align-items: center;
    flex-direction: row;
    /* height: 70px; */
    min-height: 70px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 2px rgba(43, 42, 42, 0.6);
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 13px;
}

.item_activity{
    width:17%;

}

#description, #detail{
    width: 25%;
}
#table{
    margin-right: 15px;
}

.Misy_activity{
    /* border:1px solid pink; */
    padding: 2px;
    max-height: 430px;
    overflow-y: scroll;
}

