@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --bg-color: #ffffff;
    --main-color: #0C7A07;
    --second-color: #7bbb78;
    --text-color: #000000;
    --icon-color: #a1a1a1;
}

.dashboard-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.dashboard-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
}
.dashboard-body{
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid greenyellow; */
}
.dashboard-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.dashboard-header h2{
    font-weight: 600;
}
.dashboard-middle{
    /* border: 1px solid peru; */
    margin-top: 20px;
    height: auto;
}
.dashboard-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.dashboard-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 35%;
    height: 80px;
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0px 0px 3px var(--icon-color);
    gap: .7rem;
    /* border: 1px solid orangered; */
}
.dashboard-card-content .card-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 10px;
    /* border: 1px solid orangered; */
}
.dashboard-card-content .card-title h4{
    font-weight: 400;
    font-size: 15px;
    align-self: flex-start;
    margin-top: 1px;
    /* color: var(--icon-color); */
}
.dashboard-card-content .dash-icon{
    align-self: flex-start;
    /* color: var(--icon-color); */
}
.dashboard-card-content .card-number{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    margin-bottom: 20px;
    /* border: 1px solid orangered; */
    margin-right: 10rem;
}
.dashboard-card-content .card-number h4{
    font-size: 25px;
    font-weight: 700;
}
.dashboard-chart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    /* border: 1px solid orangered; */
    margin-top: 30px;
    gap: 1.7rem;
}
.dashboard-chart .chart-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100%;
    /* border: 1px solid pink; */
}
.dashboard-chart .chart-content .barchart{
    width: 100%;
    height: 100%;
}
